.text-header {
	-fx-font-family: 'Stratos';
}
.text-subheader {
	-fx-font-family: 'Stratos';
}
.text-small-subheader, .title {
	-fx-font-family: 'Stratos';
	-fx-font-weight: 400;
}
.base {
	-fx-font-family: 'Atlas Grotesk Web Light Regular';
	-fx-font-weight: bold;
}
.text-body, .body {
	-fx-font-family: 'Atlas Grotesk Web Light Regular';
}
.root {
	bordeaux: rgb(155, 20, 75);
	dunkelblau: rgb(20,30,40);
	dunkelblau05: rgb(243,243,244);
	dunkelblau10: rgb(232,233,234);
	dunkelblau40: rgb(161,165,169);
	
	rot: rgb(230,100,85);
	gelb:rgb(255,200,130);
	mint:rgb(50,170,190);
	lila:rgb(125,85,195);
	-fx-base: white;
	-fx-font-family: 'Atlas Grotesk Web Light Regular';
}
.backdrop-back-header {
  -fx-background-color: bordeaux;
}
.backdrop-back .label {
	-fx-text-fill: lime;
}
.page-head {
  -fx-background-image: url(Logo_100.png);
  -fx-background-position: top right;
  -fx-background-size: 100px;
  -fx-background-repeat: no-repeat;
}
.page-head .label {
	-fx-text-fill: dunkelblau05;
}

.navigation-pane {
	-fx-background-color: bordeaux;
	-fx-text-fill: dunkelblau05;
}
.navigation-item {
	-fx-text-fill: dunkelblau05;
	-fx-stroke: red;
	-fx-fill: pink;
}
.navigation-item .font-icon {
	-fx-text-fill: dunkelblau05;
	-fx-stroke: lime;
	-fx-fill: lightgreen;
}

.text-subheader {
	-fx-text-fill: bordeaux;
}

.card {
	-fx-effect: dropshadow(three-pass-box, black, 10, 0, 0, 0);
	-fx-border-width: 1px;
	-fx-border-style: solid;
	-fx-background-color: -fx-base;
	-fx-padding: 0 0.5em 0 0.5em;
}

.card-action {
	-fx-font-weight: bold;
	-fx-border-width: 0px;
	-fx-border-style: none;
	-fx-background-color: transparent;
}
.card-action:hover {
	-fx-effect: dropshadow(three-pass-box, -fx-accent, 10, 0, 0, 0);
}

.call-action-hangup {
	-fx-text-fill: red;
}
.call-action-hangup .symbol-icon-skin {
	-fx-fill: red;
}

.front-option {
	-fx-padding: 0.3em;
}
